html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, section {
	display: block;
}
body {
	line-height: 1.1;
	/*font-family: 'Josefin Sans', sans-serif;*/
	/*font-family: 'Amatic SC', cursive;*/
	/*font-family: 'Bubbler One', sans-serif;*/
	/*font-family: 'Annie Use Your Telescope', cursive;*/
	/*font-family: 'Pompiere', cursive;*/
	font-family: 'Flamenco', cursive;
	font-weight: 300;
	font-size: 1.2em;
}
ol, ul {
	list-style: none;
}

.flex-container {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
		justify-content: center;
}

@media (min-width: 0px) {
	.nav-background {
		background-image: url('../images/nav-bar.png');
		background-repeat: no-repeat;
		height: 182px;
		width: 100%;
		position: absolute;
		margin-top: -80px;
		z-index: 0;
	}

	nav {
		z-index: 99;
		margin-top: 25px;
		font-family: 'Amatica SC', cursive;
	}

	nav ul {
		text-align: center;
		padding: 0px;
	}

	nav li {
		display: inline;
		padding: 8px;
		font-size: 1em;
		color: #fff;
		white-space: nowrap;
	}

	nav a {
		color: #fff;
	}

	nav a:hover {
		color: #fff;
		text-decoration: none;
		font-weight: 700;
	}

	nav a:active {
		color: #fff;
		text-decoration: none;
		font-weight: 700;
	}

	nav a:focus {
		color: #fff;
		text-decoration: none;
		font-weight: 700;
	}

	nav a:visited {
		color: #fff;
		text-decoration: none;
	}

	.behind {
		z-index: -1;
	}

	h1 {
		font-size: 3.3em;
		text-align: center;
		padding-top: 20px;
		font-family: 'Amatica SC', cursive;
	}

	h2 {
		font-size: 3em;
		text-align: center;
		padding-top: 20px;
		font-family: 'Amatica SC', cursive;
	}

	h3 {
		font-size: 2.2em;
		padding: 7px;
		font-family: 'Amatica SC', cursive;
	}

	h4 {
		font-size: 2em;
		padding: 5px;
		font-family: 'Amatica SC', cursive;
	}

	h5 {
		font-size: 1.6em;
		padding: 5px;
		font-family: 'Amatica SC', cursive;
	}

	p {
		font-size: 1.1em;
		padding: 10px 25px;
		line-height: 1.3em;
	}

	.heavy {
		font-weight: 500;
	}

	.apple {
		color: #990629;
	}

	.apple a {
		color: #990629;
		text-decoration: none;
	}

	.apple a:hover {
		color: #990629;
		text-decoration: none;
		font-weight: 700;
	}

	.apple a:focus {
		color: #990629;
		text-decoration: none;
		font-weight: 700;
	}

	.apple a:active {
		color: #990629;
		text-decoration: none;
		font-weight: 700;
	}

	.hero {
		z-index: 0;
		margin-top: -5px;
	}

	#countdown {
		padding: 40px 0;
		margin-bottom: 200px;
	}

	#countdown h3 {
		text-align: center;
		display: block;
	}

	#our-story, #reception {
		min-height: 1080px;
		background-image: url('../images/div-background.png');
		background-size: cover;
		background-color: #990629;
		color: #fff;
		padding: 100px 15px 80px 15px;
	}

	#our-story h3 {
		color: #ffffff;
	}

	#ceremony {
		height: auto;
		padding: 0px 15px;
	}

	#ceremony h3 {
		color: #990629;
	}

	#ceremony h4 a {
		color: #990629;
		text-decoration: none;
	}

	#ceremony h4 a:hover {
		color: #990629;
		text-decoration: none;
		font-weight: 700;
	}

	#ceremony h4 a:active {
		color: #990629;
		text-decoration: none;
		font-weight: 700;
	}

	#ceremony h4 a:focus {
		color: #990629;
		text-decoration: none;
		font-weight: 700;
	}

	#ceremony h4 a:visited {
		color: #990629;
		text-decoration: none;
	}

	#rsvp {
		padding: 0px 15px;
		height: 940px;
	}

	#rsvp h4 {
		color: #990629;
	}

	.atx-view h1 {
		margin-top: -100px;
		text-align: center;
		color: #fff;
	}

	.divider {
		margin-top: -40px;
		opacity: .2;
	}

	.padded {
		margin: 25px auto;
	}

	.search-box {
		width: 350px;
		margin: 40px auto;
	}

	.search-box input {
		font-size: 18px;
		margin-bottom: 20px;
	}

	.guests {
		font-size: 18px;
		padding-top: 28px;
		clear: both;
		margin-left: -27px;
	}

	.rsvp-btn {
		font-family: 'Amatica SC', cursive;
		font-size: 20px;
		border: solid 1px #990629;
		float: right;
		vertical-align: middle;
		margin-top: -14px;
	}

	.rsvp-btn:hover {
		background-color: #990629;
		color: #fff;
	}

	.content {
		margin-top: 15px;
	}

	.inner-content {
		margin: 20px auto;
	}
}

@media only screen and (min-width: 620px) {
	nav ul li {
		font-size: 1.1em;
		padding: 18px;
	}
}

@media only screen and (min-width: 992px) {
	nav ul li {
		font-size: 1.3em;
		padding: 25px;
	}
	.atx-view h1 {
		padding-left: 70px;
		text-align: left;
	}
}

@media only screen and (min-width: 1200px) {
	nav ul li {
		font-size: 1.5em;
		padding: 32px;
	}
	#our-story, #reception {
		background-color: #fff;
	}
}
