@media (min-width: 0px) {

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed,
	figure, figcaption, footer, header, hgroup,
	menu, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure,
	footer, header, hgroup, menu, section {
		display: block;
	}
	body {
		line-height: 1.2;
		/*font-family: 'Josefin Sans', sans-serif;*/
		/*font-family: 'Amatic SC', cursive;*/
		/*font-family: 'Bubbler One', sans-serif;*/
		/*font-family: 'Annie Use Your Telescope', cursive;*/
		/*font-family: 'Pompiere', cursive;*/
		font-family: 'Flamenco', cursive;
		color: #343434;
		font-weight: 400;
	}
	ol, ul {
		list-style: none;
	}

	a, a:hover, a:focus {
		text-decoration: none;
		color: #990629;
	}

	.flex-container {
	    display: -webkit-flex;
	    display: -webkit-box;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-flex-align: center;
	    -ms-flex-align: center;
	    -webkit-align-items: center;
	    align-items: center;
			justify-content: center;
	}

	.mobile {
		display: block;
		margin-right: 30px;
		margin-top: 12px;
		text-align: right;
	}

	.desktop {
		display: none;
	}

	.nav-background {
		background-image: url('../images/nav-bar.png');
		background-repeat: no-repeat;
		height: 182px;
		width: 100%;
		position: absolute;
		margin-top: -70px;
		z-index: 0;
	}

	nav {
		z-index: 99;
		margin-top: 45px;
		font-family: 'Amatica SC', cursive;
	}

	.nav-container {
    display: inline-block;
    cursor: pointer;
	}

	.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 8px 0;
	}

	.mobile-menu {
		position: absolute;
		right: 0;
	  margin-top: 40px;
		padding-top: 10px;
	  width: auto;
	  height: auto;
	  background: rgba(153,6,41,.8);
	  z-index: 900;
		border-radius: 2px;
	}

	nav li {
		font-size: 3em;
		color: #fff;
		white-space: nowrap;
		padding: 12px;
	}

	.mobile a {
		color: #ffffff;
	}

	.behind {
		z-index: -1;
	}

	h1 {
		font-size: 3.3em;
		text-align: center;
		padding-top: 20px;
		font-family: 'Amatica SC', cursive;
		color: #000;
	}

	h2 {
		font-size: 3em;
		text-align: center;
		font-family: 'Amatica SC', cursive;
		color: #000;
	}

	h3 {
		font-size: 2.2em;
		padding: 7px;
		font-family: 'Amatica SC', cursive;
		color: #000;
	}

	h4 {
		font-size: 2em;
		padding: 5px 0 15px;
		font-family: 'Amatica SC', cursive;
		color: #000;
	}

	h5 {
		font-size: 1.9em;
		padding: 5px 0 12px;
		font-family: 'Amatica SC', cursive;
		color: #000;
	}

	p {
		font-size: 2em;
		padding: 10px 25px;
		line-height: 1.3em;
	}

	.heavy {
		font-weight: 500;
	}

	.apple {
		color: #990629;
	}

	.apple:hover {
		color: #990629;
	}

	.apple:active {
		color: #990629;
	}

	.apple a {
		color: #990629;
		text-decoration: none;
	}

	.apple a:hover {
		color: #990629;
		text-decoration: none;
		font-weight: 700;
	}

	.apple a:focus {
		color: #990629;
		text-decoration: none;
		font-weight: 700;
	}

	.apple a:active {
		color: #990629;
		text-decoration: none;
		font-weight: 700;
	}

	.hero {
		z-index: 0;
		margin-top: -10px;
	}

	#countdown {
		padding: 25px 0;
		margin-bottom: 240px;
	}

	#countdown h3 {
		text-align: center;
		display: block;
	}

	#our-story h3 {
		color: #990629;
	}

	#ceremony {
		height: auto;
	}

	#ceremony h3 {
		color: #990629;
	}

	#ceremony h4 a {
		color: #990629;
		text-decoration: none;
	}

	#ceremony h4 a:hover {
		color: #990629;
		text-decoration: none;
		font-weight: 700;
	}

	#ceremony h4 a:active {
		color: #990629;
		text-decoration: none;
		font-weight: 700;
	}

	#ceremony h4 a:focus {
		color: #990629;
		text-decoration: none;
		font-weight: 700;
	}

	#ceremony h4 a:visited {
		color: #990629;
		text-decoration: none;
	}

	#rsvp {
		padding: 0px 15px;
		height: 940px;
	}

	#rsvp h4 {
		color: #990629;
	}

	.gallery-view {
		cursor: pointer;
	}

	.atx-view {
		padding-bottom: 30px;
		font-size: 1.2em;
	}

	.atx-view h1 {
		margin-top: -100px;
		text-align: center;
		color: #fff;
	}

	.atx-view h2 {
		margin: 40px auto 10px auto;
	}

	.atx-view li {
		list-style: circle;
		font-size: 1.8em;
		padding-top: 12px;
		font-weight: 400;
	}

	.atx-view p {
		padding: 4px 0 10px 0;
		font-size: 1.4em;
	}

	.push {
		margin-right: 15px;
	}

	.divider {
		margin-top: -40px;
		opacity: .2;
	}

	.flower-divider {
		margin-top: -30px;
	}

	.move-up {
		margin-top: -230px;
	}

	.padded {
		margin: 25px auto;
	}

	.rsvp p {
		font-size: 16px;
	}

	.rsvp-box {
		width: 300px;
		margin: 40px auto;
	}

	.rsvp-box input {
		font-size: 16px;
		margin-bottom: 20px;
	}

	.rsvp-edit input {
		margin-left: 10px;
	}

	.rsvp-box label {
		padding: 8px;
		text-align: center;
		font-size: 16px;
	}

	.rsvp-box button {
		font-family: 'Amatica SC', cursive;
		font-size: 16px;
		border: solid 1px #990629;
		background-color: #fff;
	}

	.rsvp-box button:hover {
		background-color: #990629;
		color: #fff;
	}

	.form-control:focus {
		border-color: #990629;
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(153,6,41,.6);
		-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(153,6,41,.6);
	}

	.guests {
		font-size: 16px;
		padding-top: 28px;
		clear: both;
		margin-left: -27px;
	}

	.rsvp-btn {
		font-family: 'Amatica SC', cursive;
		font-size: 16px;
		border: solid 1px #990629;
		float: right;
		vertical-align: middle;
		margin-top: -14px;
	}

	.rsvp-btn:hover {
		background-color: #990629;
		color: #fff;
		outline: 0;
		outline-color: #fff;
	}

	.content {
		margin: 10px;
		padding-bottom: 40px;
	}

	.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
		outline-color: #fff;
		-webkit-focus-ring-color: #fff;
	}
}

.galleryItem img {
	margin: 25px auto;
}

.galleryItem a{
    display:block;
    position:relative;
    padding-bottom:75%;
    overflow:hidden;
    border-radius: 5px;
}
.galleryItem a img {
    position:absolute;
    width: 100%;
    height:auto;
    display:block;
}

.padding-20-above {
	padding-top: 20px;
}

.padding-40-above {
	padding-top: 40px;
}

.subtitle {
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Amatica SC', cursive;
}

@media only screen and (min-width: 620px) {

	.rsvp-box {
		width: 425px;
	}

	.rsvp-box input {
		font-size: 24px;
	}

	.rsvp-box label {
		font-size: 24px;
	}

	.rsvp-box button {
		font-size: 24px;
	}
	.guests {
		font-size: 24px;
	}
	.rsvp-btn {
		font-size: 24px;
	}
}

@media only screen and (min-width: 992px) {

	/*body {
		font-weight: 300;
	}*/

	p {
		font-size: 1.4em;
	}

	.nav-background {
		margin-top: -80px;
	}

	.desktop {
		display: block;
	}

	.mobile {
		display: none;
	}

	nav ul {
		text-align: center;
		padding: 0px;
	}

	nav li {
		display: inline;
		color: #fff;
		white-space: nowrap;
		font-size: 1.3em;
		padding: 25px;
	}

	nav a {
		color: #fff;
	}

	nav a:hover {
		color: #fff;
		text-decoration: none;
		font-weight: 700;
	}

	nav a:active {
		color: #fff;
		text-decoration: none;
		font-weight: 700;
	}

	nav a:focus {
		color: #fff;
		text-decoration: none;
		font-weight: 700;
	}

	nav a:visited {
		color: #fff;
		text-decoration: none;
	}

	.atx-view h1 {
		padding-left: 70px;
		text-align: left;
	}

	.atx-view p {
		padding: 3px 0 8px 0;
		font-size: .9em;
	}

	.atx-view li {
		font-size: 1.2em;
	}

}

@media only screen and (min-width: 1200px) {
	nav ul li {
		font-size: 1.5em;
		padding: 32px;
	}
}
