<div class="atx-view">
  <div class="hero">
    <img src="images/austintexas-1.jpg" class="img-responsive img-full behind">
    <h1>Visit Austin</h1>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-4">
      <h2>Stay in Austin</h2>
      <ul>
        <li>Hotel block at La Quinta Inn &amp; Suites Austin Southwest at Mopac</li>
        <li>AirBnB options</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-4">
      <h2>Austin Sights</h2>
      <ul>
        <li>Pennyback Bridge/Lake Austin Overlook at 360</li>
        <li>Mt Bonnell Overlooking Lake Austin</li>
        <li>Lady Bird Lake Boardwalk</li>
        <li>
          <a href="https://www.austintexas.org/austin-insider-blog/post/texas-state-capitol/" target="_blank">
            See the Captiol
          </a>
        </li>
        <li>
          <a href="http://do512.com/p/street-art-in-austin" target="_blank">
            Street art DIY tour
          </a>
        </li>
        <li>
          <a href="http://austindetours.com/art-tours/" target="_blank">
            Guided art tours
          </a>
        </li>
        <li>Helicopter Tour</li>
        <li>Segway Tour</li>
        <li>Congress Bridge Bats</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-4">
      <h2>Things to Do</h2>
      <ul>
        <li>South Congress - shops and restaurants</li>
        <li>
          <a href="https://www.tripadvisor.com/Attraction_Review-g30196-d116421-Reviews-Barton_Springs_Pool-Austin_Texas.html" target="_blank">
            Cool off at Barton Springs
          </a>
        </li>
        <li>
          <a href="https://www.tripadvisor.com/Attraction_Review-g55765-d561020-Reviews-Hamilton_Pool_Preserve-Dripping_Springs_Texas.html" target="_blank">
            Cool off at Hamilton Pool
          </a>
        </li>
        <li>
          <a href="https://www.tripadvisor.com/Attraction_Review-g56901-d4178083-Reviews-Jacob_s_Well_Natural_Area_Hays_County_Parks-Wimberley_Texas.html" target="_blank">
          Cool off at Jacob's Well
          </a>
        </li>
        <li>Paddleboard or canoe on Town Lake</li>
        <li>The Thinkery (for kids!)</li>
        <li>Zilker Park (for kids!)</li>
        <li>Shop and eat at the Domain</li>
        <li>Nightlight:
          <ul>
            <li>Rainey Street</li>
            <li>Dirty 6th</li>
            <li>West 6th</li>
            <li>Live music
              <ul>
                <li>Stubb's BBQ</li>
                <li>Emo's</li>
                <li>Antone's</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-4">
      <h2>Where to Eat</h2>
      <p>There are hundreds of options to choose from, but here are some of our favorites:</p>
      <ul>
        <li>Torchy's Tacos</li>
        <li>Guerro's Taco Bar</li>
        <li>La Barbecue</li>
        <li>Franlin's BBQ</li>
        <li>The Salt Lick</li>
        <li>The Oasis (Best view in Austin!)</li>
        <li>Moonshine Grill</li>
        <li>La Condesa</li>
        <li>Roaring Fork</li>
        <li>Top Notch Burgers (as seen in Dazed &amp; Confused)</li>
        <li>Hoppdoddy</li>
        <li>More recommendations</li>
      </ul>
    </div>
  </div>
</div>
