<div id="top" class="home-view" ng-controller="HomeController">
  <div class="row hero">
    <div class="col-xs-12 col-lg-10 col-lg-offset-1">
      <img src="/images/hero-img.png" alt="Erin and Dustin" class="img-responsive img-full">
    </div>
  </div>
  <main>
    <div id="countdown">
      <h1 class="apple">#SoontobeSegers</h1>
      <h3><span countdown date='September 28, 2017 18:00:00'>&nbsp;</span></h3>
    </div>
    <div class="row move-up">
      <div class="col-xs-12">
        <img src="/images/div.png" alt="" class="img-responsive img-full">
      </div>
    </div>
    <div id="our-story">
      <div class="row content">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <h2>Our Story</h2>
          <h3 class="text-center">"It's the unexpected that changes our lives"</h3>
          <p><span class="apple subtitle">How we met:</span><br/>Dustin proposed on October 23, 2016, two years after we first
          met. Neither us expected to meet one another, let alone fall in
          love. I never expected I would ever live in Florida, at least not
          in my foreseeable future. We met at our mutual friends' wedding in
          Katy, Texas. I think Matt and Stephanie had intentionally
          paired us up to walk down the aisle together, but they couldn't
          predict the rest. I ended up catching the bouquet and Dustin
          caught the garter - it's like it was meant to be. We had a lot of fun
          getting to know each other the rest of the night. Dustin messaged
          me the next day and we continued to talk. A week after we met, I
          said, "Would it be crazy if I bought a plane ticket to Florida?"
          He said, "No." And not long after I had packed up my belogings and headed east.</p>
          <p><span class="apple subtitle">The proposal:</span><br/>Dustin tells his proposal story here. How cute is this little proposal story that goes here. So romantic, oh wow, how romantic, love, love, love!</p>
        <div class="row padding-40-above">
          <div class="col-xs-12 col-sm-8">
            <img src="/images/how-we-met.png" class="img-responsive img-full" />
          </div>
          <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0">
            <img src="/images/engagement.png" class="img-responsive img-full padding-40-above" />
          </div>
        </div>
      </div>
    </div>
    <div class="row flower-divider">
      <div class="col-xs-12">
        <img src="/images/div.png" alt="" class="img-responsive img-full">
      </div>
    </div>
    <div id="ceremony" class="content">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <h2>Ceremony</h2>
          <h3 class="text-center">Thursday, September 28, 2017 | 6:00PM</h3>
          <h4 class="text-center">Lady Bird Johnson Wildflower Center</h4>
          <p>We chose the LBJ Wildflower Center after looking at a few venues in
          the Austin area. We were looking for a beautiful outdoor venue that
          captured the essence of the Hill Country. While we were looking at the
          venue, my mom told us that my grandmother actually sold some of her
          handpainted wildflower shirts in the gift shop years ago, and had the
          honor of meeting Lady Bird Johnson herself. We knew then that this was the perfect place to get married.</p>
        </div>
      </div>
      <div class="row padded">
        <div class="col-xs-12 col-sm-4">
          <img src="/images/lbj-entrance.png" class="img-responsive img-full" width="480" />
        </div>
        <div class="col-xs-12 col-sm-4">
          <img src="/images/lbj-ceremony.png" class="img-responsive img-full" width="480" />
        </div>
        <div class="col-xs-12 col-sm-4">
          <img src="/images/lbj-pond.png" class="img-responsive img-full" width="478" />
        </div>
      </div>
      <div class="row padded">
        <div class="col-xs-12">
          <h4 class="text-center"><a href="https://www.google.com/maps/place/Lady+Bird+Johnson+Wildflower+Center/@30.1854501,-97.8753999,17z/data=!3m1!4b1!4m5!3m4!1s0x864f845ae055e7c7:0x73a6f85ce9ce621!8m2!3d30.1854455!4d-97.8732112" target="_blank">Directions to LBJ Wildflower Center</a></h4>
          <p class="text-center heavy">4801 La Crosse Ave., Austin, TX 78739</p>
          <p class="text-center heavy">Please allow at least 45 minutes for travel to the ceremony. Traffic conditions may not be optimal.</p>
        </div>
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <p>The venue lies in the beautiful Hill Country with Hill Country inspired
          architecture and native gardens. The LBJ Wildflower Center uses native plants to restore and
          create healthy, beautiful landscapes. Their mission is to inspire the
          conservation of native plants through their gardens, research, education,
          consulting and outreach programs. In doing so, they improve water quality, provide
          habitat for wildlife and enhance human health and happiness.</p>
        </div>
      </div>
    </div>
    <div class="row flower-divider">
      <div class="col-xs-12">
        <img src="/images/div.png" alt="" class="img-responsive img-full">
      </div>
    </div>
    <div id="reception">
      <div class="row content">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <h2>Reception</h2>
          <div class="row">
            <div class="col-xs-9 col-md-7">
              <div class="row">
                <div class="col-xs-12">
                  <h5 class="text-center">Following the ceremony at</h5>
                  <h5 class="text-center">Lady Bird Johnson Wildflower Center</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pellentesque felis ut felis fringilla iaculis. Mauris a mollis sem, rhoncus pulvinar quam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque sodales arcu at porta pretium. Fusce nec eros et nisi aliquam vestibulum vel at erat. Proin quis condimentum odio, at tincidunt quam. Praesent dolor libero, tincidunt a diam sit amet, placerat ultricies lacus. Phasellus a condimentum mi.</p>
                </div>
                <div class="col-xs-6">
                  <img src="/images/lbj-pre-reception.png" class="img-responsive img-full" />
                </div>
                <div class="col-xs-6">
                  <img src="/images/lbj-reception.png" class="img-responsive img-full" />
                </div>
              </div>
            </div>
            <div class="col-xs-3 col-md-5">
              <img src="/images/lbj-tower.png" class="img-responsive img-full" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row flower-divider">
      <div class="col-xs-12">
        <img src="/images/div.png" alt="" class="img-responsive img-full">
      </div>
    </div>
    <div id="rsvp">
      <div class="row content">
        <div class="top">
          <h4 class="text-right apple"><a href="#top" du-smooth-scroll du-scrollspy duration='2000'>Back to top</a></h4>
        </div>
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <h2>Celebrate with us</h2>
          <h4 class="text-center">Find yourself and click RSVP</h4>
          <div class="search-box" ng-hide='editRsvp.edit || editRsvp.confirmRsvp'>
            <input ng-keypress="onKeypress()" type="text" ng-model="selected" typeahead="rsvp for rsvp in rsvps track by $index | filter:$viewValue | limitTo:12" class="form-control" ng-keypress='log()'>
            <ul ng-if="showList">
              <li class="guests" ng-repeat="rsvp in rsvps | filter:{Guest:selected}">{{ rsvp.Guest }}
              <button ng-click="edit(rsvp)" class="btn btn-default rsvp-btn">RSVP2</button>
              </li>
            </ul>
          </div>
          <div ng-show='editRsvp.edit'>
            <input type="radio" value="yes" name="attending" ng-model='editRsvp.Attending'> Yes
            <input type="radio" value="no" name="attending" ng-model='editRsvp.Attending'> No
            <input type="number" name="guests" min="0" max="7" ng-model='editRsvp.Attendees'>
            <button ng-click='update(editRsvp)'>Submit RSVP</button>
          </div>
          <div ng-show='editRsvp.confirmRsvp'>
            <p>{{ editRsvp.Guest }} is confirmed for {{ editRsvp.Attendees }} guests!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row move-up">
      <div class="col-xs-12">
        <img src="/images/div.png" alt="" class="img-responsive img-full">
      </div>
    </div>
  </main>
</div>
