<div id="top" class="home-view" ng-controller="HomeController">
  <div class="row hero">
    <div class="col-xs-12 col-lg-10 col-lg-offset-1">
      <img src="/images/hero-img.png" alt="Erin and Dustin" class="img-responsive img-full">
    </div>
  </div>
  <main>
    <div id="countdown">
      <h1 class="apple">#SoontobeSegers</h1>
      <h3><span countdown date='September 28, 2017 18:00:00'>&nbsp;</span></h3>
    </div>
    <div class="row move-up">
      <div class="col-xs-12">
        <img src="/images/div.png" alt="" class="img-responsive img-full">
      </div>
    </div>
    <div id="our-story">
      <div class="row content">
        <div class="top">
          <h4 class="text-right apple"><a href="#top" du-smooth-scroll du-scrollspy duration='2000'>Back to top</a></h4>
        </div>
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <h2>Our Story</h2>
          <h3 class="text-center">"It's the unexpected that changes our lives"</h3>
          <p><span class="apple subtitle">How we met:</span> Dustin and I met at our mutual friends' wedding in
          Katy, Texas. I had actually tried for weeks to find a wedding date, but it just didn't seem to work out for me. I think Matt and Stephanie had intentionally
          paired us up to walk down the aisle together, but they couldn't
          predict the rest. I ended up catching the bouquet (Stephanie has good aim) and Dustin
          caught the garter - looking back, it's like it was meant to be. We had a lot of fun
          getting to know each other the rest of the night, cheesy dancing and all. Dustin messaged
          me the next day and we continued to talk. A week after we met, I
          said, "Would it be crazy if I bought a plane ticket to Florida?"
          He said no, and two weeks later I was on a plane headed east. Neither of us expected to meet one another, let alone fall in
          love. I had never considered living in Florida, or even leaving Austin for that matter.</p>
          <p>I really had no idea what to expect out of this growing
          relationship. After my visit, we continued to talk via Skype and
          Dustin came to visit for New Year's Eve. Stephanie and Matt also
          joined us, which made the whole weekend very fun and special. Up until
          this point, our relationship had no official title. This was the point
          in which we had to figure out if we wanted to be serious and move
          forward or go our different directions.</p>
          <p>With it being so early in the relationship, it would have been easy to say
          goodbye and continue to live our lives in separate states. There were a few
          things that helped me make my decision to move forward with our relationship.
          The first being that Dustin is such a gentleman, which every lady can agree is
          hard to come by these days. It felt great to be treated the way a woman should
          be, especially when I hadn't been before. And the second deciding factor being
          that I could see myself having a loving family and happy life with him (his good looks helped a little, too!). We made
          our relationship official on January 1, 2015.</p>
          <p>I made plans to visit him for Valentine's Day, and we had a romantic
          Valentine's dinner at Restaurant Paradis in 30A, where his long
          time friend Shane was our Chef that evening. This trip was also when I
          first met his family. I have to say, his family definitely gave him
          brownie points because they're an amazing family. I'm lucky to marry
          into it!</p>
          <p>We knew that for our relationship to work, one of us would have to
          move. While Austin has and will always have my heart, I was ready for
          new career opportunities and Dustin had just started an amazing
          opportunity, so that's really what helped us make our decision. Plus,
          Florida has some amazing beaches! And it gave me the opportunity to
          get to know his amazing (and amazingly huge) family.</p>
          <p>Moving to Florida ended up being the best possible career
          opportunity for both of us. The job I started upon moving here did not
          work out, but an opportunity that was so much better fell in my lap.
          We now both work for the same organization (Shout out to ITProTV!)
          that has provided us both with career growth and happiness. (I couldn't have made this website without them!) Looking back over the last two and half years, we've had our ups and our downs, but I am fully confident in our relationship and can't wait for what's to come.</p>
          <p><span class="apple subtitle">The proposal:</span> After a year and a half of
          being with Erin, I realized that she was someone I could really see spending the
          rest of my life with. I had intentions of marrying her to begin with, but it
          helps to spend time with someone at least for a little bit to really see if you
          jive together. Even though we are pretty different people and may not always see
          eye-to-eye, we have always managed to work with each other and get through
          issues. Anyone who knows her can vouch for her ferocity and loyalty, and loyalty
          is something I value a lot. She’s pretty smart, too, which is a huge plus. Being
          with her is kind of like having a pet tiger… with all of the benefits and
          dangers included. She will make a great mother. I call her my little cactus
          flower because she is really pretty to look at, but can be prickly when she
          wants to. I think she likes that, though. I think I do too--it makes things
          interesting.</p>
          <p>At any rate, I started my scheming around July of 2016.
          Something in me sparked a fire, (no not Erin, ha) and I conjured up the nerve to
          call The Henderson Inn Bed and Breakfast in Destin, FL to book a room I thought
          would be romantic enough for us to stay in. I booked it for the weekend around
          October 24th, 2016 which marked our two year anniversary of meeting one another.
          Immediately, I started sweating profusely. I hadn’t even gotten the ring yet!
          Luckily, she already knew exactly what she wanted in a ring and never failed to
          remind me of what she picked out. So, that part was easy. Now I just needed to
          request her hand in marriage from her dad and scrounge up enough cash to get
          that diamond all the while keeping Erin in the dark. Throughout the next few
          months I did exactly that. Her dad gave us his blessing and I was ready to go. I
          conspired with my family to make it seem like we would be taking a “family beach
          vacation” around Oct. 24th. so I could get her to ask off without seeming too
          suspicious. I’m not exactly sure when she started to suspect, but eventually she
          did. It turns out she can be inconveniently smart when she wants to. We loaded
          up the car for a “beach trip” and took off down the road to Destin. Five hours
          later we roll up to The Henderson Inn. I turned to her, smiled, and said, “Yeah,
          so… we aren’t here for a family vacation.”</p>
          <p>She gave me a look filled with
          smug amusement, “Yeah, I suspected as much.”</p>
          <p>After that, I tried to play
          it off as just a “romantic getaway”--even as I had plans to propose that night
          at sunset. We got settled into our room, and took a stroll on the beach.
          Unbeknownst to me, there was a wedding going on that day. The event clashed with
          my plans, upsetting an otherwise great proposal opportunity. But, being the
          fly-by-the-seat-of-my-pants kind of guy I am, I chose at the last moment to do
          it the next night. I prayed for perfect weather and uninterrupted privacy, and
          by George I got it. We were able to take an uninterrupted stroll along the
          Henderson Park beach area. Sunset hit and I caught Erin watching it disappear
          beneath the horizon. I frantically wrote in the sand behind her: “Erin, will you
          marry me?” with one eye on her and one eye on the sand beneath me. Thankfully,
          she never turned around before I finished. With my heart racing, I walked up and
          embraced her from behind. I took the ring out of my pocket and held it in front
          of her. “Hey, look at what I found over here…”</p>
          <p>The look she gave me I
          will never forget. Her eyes are really pretty--one of my favorite aspects of her
          beauty. But, the look in them that day was something really special. We walked
          over to the spot in the sand where I wrote my proposal. I got down on one knee
          as she read it, and asked, “Erin McCaffrey, will you marry me?” I presented her
          the ring, she said “Yes!” I slipped it on her finger and it was done. My life
          was over. Game over, bro. Game over.</p>
        <div class="row padding-40-above">
          <div class="col-xs-12 col-sm-8">
            <img src="/images/how-we-met.png" class="img-responsive img-full" />
          </div>
          <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0">
            <img src="/images/engagement.png" class="img-responsive img-full padding-40-above" />
          </div>
        </div>
      </div>
    </div>
    <div class="row flower-divider">
      <div class="col-xs-12">
        <img src="/images/div.png" alt="" class="img-responsive img-full">
      </div>
    </div>
    <div id="ceremony" class="content">
      <div class="top">
        <h4 class="text-right apple"><a href="#top" du-smooth-scroll du-scrollspy duration='2000'>Back to top</a></h4>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <h2>Ceremony</h2>
          <h3 class="text-center">Thursday, September 28, 2017 | 6:00PM</h3>
          <h4 class="text-center">Lady Bird Johnson Wildflower Center</h4>
          <p>We chose the LBJ Wildflower Center after looking at a few venues in
          the Austin area. We were looking for a beautiful outdoor venue that
          captured the essence of the Hill Country. While we were looking at the
          venue, my mom told us that my grandmother actually sold some of her
          handpainted wildflower shirts in the gift shop years ago, and had the
          honor of meeting Lady Bird Johnson herself. We knew then that this was the perfect place to get married.</p>
        </div>
      </div>
      <div class="row padded">
        <div class="col-xs-12 col-sm-4">
          <img src="/images/lbj-entrance.png" class="img-responsive img-full" width="480" />
        </div>
        <div class="col-xs-12 col-sm-4">
          <img src="/images/lbj-ceremony.png" class="img-responsive img-full" width="480" />
        </div>
        <div class="col-xs-12 col-sm-4">
          <img src="/images/lbj-pond.png" class="img-responsive img-full" width="478" />
        </div>
      </div>
      <div class="row padded">
        <div class="col-xs-12">
          <h4 class="text-center"><a href="https://www.google.com/maps/place/Lady+Bird+Johnson+Wildflower+Center/@30.1854501,-97.8753999,17z/data=!3m1!4b1!4m5!3m4!1s0x864f845ae055e7c7:0x73a6f85ce9ce621!8m2!3d30.1854455!4d-97.8732112" target="_blank">Directions to LBJ Wildflower Center</a></h4>
          <p class="text-center heavy">4801 La Crosse Ave., Austin, TX 78739</p>
          <p class="text-center heavy">Please allow at least 45 minutes for travel to the ceremony. Traffic conditions may not be optimal.</p>
          <p class="text-center heavy"><span class="h4">Attire:</span> Semiformal</p>
        </div>
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <p>The venue lies in the beautiful Hill Country with Hill Country inspired
          architecture and native gardens. The LBJ Wildflower Center uses native plants to restore and
          create healthy, beautiful landscapes. Their mission is to inspire the
          conservation of native plants through their gardens, research, education,
          consulting and outreach programs. In doing so, they improve water quality, provide
          habitat for wildlife and enhance human health and happiness.</p>
        </div>
      </div>
    </div>
    <div class="row flower-divider">
      <div class="col-xs-12">
        <img src="/images/div.png" alt="" class="img-responsive img-full">
      </div>
    </div>
    <div id="reception">
      <div class="row content">
        <div class="top">
          <h4 class="text-right apple"><a href="#top" du-smooth-scroll du-scrollspy duration='2000'>Back to top</a></h4>
        </div>
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <h2>Reception</h2>
          <h5 class="text-center apple">Following the ceremony at
            <br/>Lady Bird Johnson Wildflower Center
          </h5>
          <div class="row">
            <div class="col-xs-12 col-lg-7">
              <div class="row">
                <div class="col-xs-12">
                  <p>The reception will take place at the LBJ Wildflower Center directly following
                  the ceremony. The area will need to be flipped, so guests will be directed to
                  the Central Garden for refreshing beverages. Dinner will be served buffet style, and
                  our playlist is one everyone is sure to enjoy. There will be a photo booth, too!
                  Feel free to dance if you wish! There is a small building adjacent to the
                  courtyard where children can play. We will be hiring a reputable babysitter so
                  parents may enjoy the evening without worry.</p>
                </div>
                <div class="col-xs-4 col-lg-6 padding-40-above">
                  <img src="/images/lbj-pre-reception.png" class="img-responsive img-full" />
                </div>
                <div class="col-xs-4 hidden-lg hidden-xl">
                  <img src="/images/lbj-tower.png" class="img-responsive img-full" />
                </div>
                <div class="col-xs-4 col-lg-6 padding-40-above">
                  <img src="/images/lbj-reception.png" class="img-responsive img-full" />
                </div>
              </div>
            </div>
            <div class="col-xs-3 col-md-5 hidden-xs hidden-sm hidden-md">
              <img src="/images/lbj-tower.png" class="img-responsive img-full" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row flower-divider">
      <div class="col-xs-12">
        <img src="/images/div.png" alt="" class="img-responsive img-full">
      </div>
    </div>
    <div id="rsvp">
      <div class="row content">
        <div class="top">
          <h4 class="text-right apple"><a href="#top" du-smooth-scroll du-scrollspy duration='2000'>Back to top</a></h4>
        </div>
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <h2>Celebrate with us</h2>
          <h4 class="text-center">Find yourself and click RSVP</h4>
          <div class="rsvp-box" ng-hide='editRsvp.confirmRsvp || editRsvp.edit'>
            <input ng-click="onKeypress()" type="text" ng-model="selected" typeahead="rsvp for rsvp in rsvps track by $index | filter:$viewValue | limitTo:12" class="form-control" ng-keypress='log()'>
            <ul ng-if="showList">
              <li class="guests" ng-repeat="rsvp in rsvps | filter:{Guest:selected}">{{ rsvp.Guest }}
              <button ng-click="edit(rsvp)" class="btn btn-default rsvp-btn">RSVP</button>
              </li>
            </ul>
          </div>
          <div class="rsvp-box rsvp-edit" ng-show='editRsvp.edit'>
            <label for="attending">Will you be attending?</label>
            <input type="radio" value="1" name="attending" ng-model='editRsvp.Attending'> Yes
            <input type="radio" value="0" name="attending" ng-model='editRsvp.Attending'> No
            <label for="guests">Number of guests</label>
            <input type="number" name="guests" min="0" max="7" ng-model='editRsvp.Attendees'>
            <div class="row">
              <div class="col-xs-12 text-center">
                <button class="text-center btn btn-default" ng-click='update(editRsvp)'>Submit RSVP</button>
              </div>
            </div>
          </div>
          <div ng-show='editRsvp.confirmRsvp'>
            <p class="text-center padding-40-above heavy">{{ editRsvp.Guest }} is confirmed for {{ editRsvp.Attendees }} guests!</p>
            <p class="text-center heavy">Find hotel information <a href="#!/atx" class="apple">here</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row move-up">
      <div class="col-xs-12">
        <img src="/images/div.png" alt="" class="img-responsive img-full">
      </div>
    </div>
  </main>
</div>
