<div id="top" class="home-view">
  <header ng-controller="HomeController">
    <nav>
      <div class="row nav-list">
        <div class="col-xs-7 col-xs-offset-5 col-lg-6 col-lg-offset-6">
          <ul>
            <li><a href="#our-story" du-smooth-scroll du-scrollspy duration='2000'>Our Story</a></li>
            <li>Ceremony</li>
            <li>Reception</li>
            <li>RSVP</li>
            <li>Gallery</li>
            <li>Visit Austin</li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <hero>
    <div class="row hero">
      <div class="col-xs-12 col-lg-10 col-lg-offset-1">
        <img src="/images/hero-img.png" alt="Erin and Dustin" class="img-responsive img-full">
      </div>
    </div>
  </hero>
  <main>
    <div id="countdown">
      <h2>timer goes here</h2>
    </div>
    <div class="divider row">
      <div class="col-xs-12">
        <img src="/images/divider.png" class="img-responsive img-full" />
      </div>
    </div>
    <p>
      5
    </p>
    <p>
      5
    </p>
    <p>
      5
    </p>
    <p>
      5
    </p>
    <p>
      5
    </p>
    <p>
      5
    </p>
    <p>
      5
    </p>
    <p>
      5
    </p>
    <p>
      5
    </p>
    <div id="our-story" class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h2>Our Story</h2>

      </div>
    </div>
  </main>
</div>
