<div class="rehearsal-view">
  <div class="hero">
    <!-- <img src="images/countylineonthehill.png" class="img-responsive img-full behind"> -->
    <h1>Rehearsal Dinner</h1>
    <h2>Wednesday, September 27, 2017 at 5:30PM</h2>
    <div class="row">
      <div class="rehearsal-details col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h3>County Line on The Hill</h3>
        <h4><a href="https://www.google.com/maps/dir/''/''/@30.297567,-97.9059241,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x865b35869438b4d9:0x2bfc4a2a3e95a0ab!2m2!1d-97.8358839!2d30.2975856" target="_blank">6500 W. Bee Cave Rd • Austin, Texas</a></h4>
        <h5><a href="https://www.google.com/maps/dir/Lady+Bird+Johnson+Wildflower+Center,+La+Crosse+Avenue,+Austin,+TX/''/@30.241585,-97.8627786,13z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x864f845ae055e7c7:0x73a6f85ce9ce621!2m2!1d-97.8732112!2d30.1854455!1m5!1m1!1s0x865b35869438b4d9:0x2bfc4a2a3e95a0ab!2m2!1d-97.8358839!2d30.2975856" target="_blank">Directions from the LBJ Wildflower Center</a></h5>
        <h5 class="push-footer"><a href="https://www.google.com/maps/dir/Holiday+Inn+Express+%26+Suites+Austin+SW+-+Sunset+Valley,+West+US+Highway+290+Service+Road,+Sunset+Valley,+TX/''/@30.2646797,-97.8442751,13z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x865b4b11044c3a13:0xf6e2800e22270914!2m2!1d-97.8131248!2d30.2342914!1m5!1m1!1s0x865b35869438b4d9:0x2bfc4a2a3e95a0ab!2m2!1d-97.8358839!2d30.2975856" target="_blank">Directions from the Holiday Inn</a></h5>
      </div>
    </div>
  </div>
</div>
